
:root {
    --main-dark-color: #144d57;
    --main-light-color: #4ca0ae;
    --secondary-dark-color: #144d57;
    --secondary-light-color: #1e7575;
}

* {
    padding: 0;
    margin:  0;
    font-family: 'Roboto Slab', serif;
}

html, body {
    height: 100%;
    width: 100%;
}

header {}

main {
    min-height: 100px;
    background: #afffa4;
}

footer {
    height: 100px;
    background: #144d57;
}

#logo {
    width: 200px;
    height: 200px;
    position: absolute;
    left: calc(50% - 100px);
    top: 100px;
}

.large-block {
    position: relative;
    color: white;
    overflow: hidden;
    max-height: 750px;
}

.large-block > img {
    width: 100%;
}

.large-block {
}

#main-block-heading {
    font-weight: 900;
    font-size: 60px;
    left: 130px;
    bottom: 300px;
    position: absolute;
}

#main-block-description {
    left: 130px;
    bottom: 200px;
    font-size: 23px;
    border-left: 5px solid white;
    padding-left: 15px;
    position: absolute;
}

#contact-bar {
    left: 130px;
    bottom: 120px;
    font-size: 16px;
    border-left: 5px solid white;
    padding-left: 15px;
    position: absolute;
    cursor: pointer;
    transition-duration: 0.4s;
}

#contact-bar:hover {
    border-left: 5px solid #afeaef;
    transition-duration: 0.4s;
}

#contact-bar > a {
    text-decoration: none;
    color: white;
}

#contact-bar > a:hover {
    color: #afeaef;
}


.block-text {
    position: absolute;
    width: 450px;
    right: 220px;
    top: 130px;
}

.block-heading {
    font-size: 40px;
    color: var(--secondary-dark-color);
}

.block-description {
    margin-top: 10px;
    font-size: 25px;
    color: #1e7575;
    border-left: 4px solid var(--secondary-light-color);
    padding-left: 8px;
}

.block {
    /*background: #a0d4d9;*/
    height: 100%;
    /*opacity: 0;*/
}

.block img.content {
    position: absolute;
    height: 80%;
    margin-left: 170px;
    margin-top: 50px;
    margin-top: 50px;
    border: 1px solid blue;
    -webkit-clip-path: circle(190px at 35% 50%);
    clip-path: circle(190px at 35% 50%);
    transition-duration: 0.4s;
}

.block img.content:hover {
    -webkit-clip-path: circle(190px at 45% 50%);
    clip-path: circle(190px at 45% 50%);
    transition-duration: 0.4s;
}

.block p.block-text {
    position: relative;
    display: inline-block;
    /*background: green;*/
    vertical-align: top;
    right: 320px;
    top: 120px;
    float: right;
    font-size: 40px;
    color: #144d57;
}

.small-heading {
    color: var(--secondary-dark-color);
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    width: 100%;
    font-family: 'Didact Gothic', sans-serif;
}

.h-menu {
    margin: 50px auto;
    height: 250px;
    width: 80%;
    list-style: none;
}

.h-menu > li {
    width: 30%;
    float: left;
    display: inline-block;
    height: 300px;
    margin: 0 17px;
}

#guides li > img, #rooms li > img {
    width: 60%;
    margin: 0 auto;
    display: block;
}

#guides p {
    text-align: center;
    color: var(--secondary-dark-color);
    display: block;
    margin: 15px auto;
    position: relative;
    font-size: 20px;
    font-family: 'Didact Gothic', sans-serif;
}

#rooms li > img {
    width: 100%;
}

form {
    height: 500px;
    width: 400px;
    margin: 50px auto;
}

input {
    width: 100%;
    padding: 8px 10px;
    box-sizing: border-box;
    background: transparent;
    border: 4px solid var(--secondary-dark-color);
    margin: 8px auto;
    outline: none;
    transition-duration: 0.4s;
    color: var(--secondary-dark-color);
}

input:focus {
    border: 4px solid #ff8282;
    transition-duration: 0.4s;
}

textarea {
    display: block;
    margin: 8px auto;
    width: 100%;
    background: transparent;
    border: 4px solid var(--secondary-dark-color);
    box-sizing: border-box;
    resize: none;
    padding: 8px 10px;
    transition-duration: 0.4s;
    color: var(--secondary-dark-color);
}

textarea:focus {
    border: 4px solid #ff8282;
    outline: none;
    transition-duration: 0.4s;
}

input[type="submit"] {
    margin: 20px auto;
    width: 50%;
    display: block;
}

input[type="submit"]:hover {
    cursor: pointer;
    transition-duration: 0.4s;
    border: 4px solid #ff8282;
}

.form-ref {
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    background: var(--main-light-color);
    padding: 7px 9px;
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
}

.form-ref:hover {
    background: #58c6d5;
    transition-duration: 0.4s;
    cursor: pointer;
}

