
:root {
    --main-dark-color: #144d57;
    --main-light-color: #ffffff;
    --secondary-dark-color: #144d57;
    --secondary-light-color: #ffffff;
}

* {
    padding: 0;
    margin:  0;
    font-family: 'Roboto Slab', serif;
}

html, body {
    height: 100%;
    width: 100%;
}

header {}

main {
    min-height: 100px;
    background: #afffa4;
}

footer {
    height: 100px;
    background: #144d57;
}

#logo {
    width: 200px;
    height: 200px;
    position: absolute;
    left: calc(50% - 100px);
    top: 100px;
}

.large-block {
    position: relative;
    color: white;
    overflow: hidden;
    max-height: 750px;
}

.large-block > img {
    width: 100%;
}

.large-block p {
    position: absolute;
}

.block-heading {
    font-weight: 900;
    font-size: 60px;
    left: 130px;
    bottom: 300px;
}

.block-description {
    left: 130px;
    bottom: 200px;
    font-size: 23px;
    border-left: 5px solid white;
    padding-left: 15px;
}

.block {
    /*background: #a0d4d9;*/
    height: 100%;
}

.block img.content {
    position: absolute;
    height: 80%;
    margin-left: 170px;
    margin-top: 50px;
    margin-top: 50px;
    border: 1px solid blue;
    -webkit-clip-path: circle(190px at 35% 50%);
    clip-path: circle(190px at 35% 50%);
    transition-duration: 0.4s;
}

.block img.content:hover {
    -webkit-clip-path: circle(190px at 45% 50%);
    clip-path: circle(190px at 45% 50%);
    transition-duration: 0.4s;
}

.block p.block-text {
    position: relative;
    display: inline-block;
    /*background: green;*/
    vertical-align: top;
    right: 320px;
    top: 120px;
    float: right;
    font-size: 40px;
    color: #144d57;
}

.small-heading {
    color: var(--secondary-dark-color);
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    width: 100%;
    font-family: 'Didact Gothic', sans-serif;
}

.h-menu {
    margin: 150px auto 0;
    height: 250px;
    width: 80%;
    list-style: none;
}

.h-menu > li {
    width: 30%;
    float: left;
    display: inline-block;
    height: 300px;
    margin: 0 17px;
}

#guides li > img, #rooms li > img {
    width: 60%;
    margin: 0 auto;
    display: block;
}

#guides p {
    text-align: center;
    color: var(--secondary-dark-color);
    display: block;
    margin: 15px auto;
    position: relative;
    font-size: 20px;
    font-family: 'Didact Gothic', sans-serif;
}

#rooms li > img {
    width: 100%;
}